extends layout

block content
  .page-header
    h2 Achievements
  if user.isSponsor
    a(class="btn btn-primary" role="button" href="/achievements/add") Add Achievement
  table(class="table")
    thead
      tr
       th Title
       th Description
    tbody
      each member in achievements
        tr
          td=member.label
          td=member.description
