extends layout

block content
  h1 Hacker Achievements
  h4| A wonderful way to connect with other hackers and sponsors!
  <img id ="background" src="/img/lahacks_pano.png" style="max-height: 1500px; max-width: 750px; position:center;" />
  //- div.img(src="/img/hackathon.png"style="width:1500;height:750")
  //- div(style='width:1500;height:500;left:0;top:0;background-image:url(images/sky.jpg);')
