extends layout

block content

      h2
        #container.profileLeft
          img(src="#{user.gravatar()}",height="200", width="200")
        #container.profileRight
      h3
        |#{user.profile.name}
        br
        |#{user.email}
      h4
        |RESUME/LINKEDIN
        br
        |HACKATHON EXPERIENCE
        br
        |ACHIEVEMENTS
